#form {
  margin-top: 120px;
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#form > .container {
  display: flex;
  flex-direction: column;
}

#form .field {
  background-color: #0e2141;
  border: none;
  border-radius: 5px;
  height: 60px;
  font-size: 20px;
  color: #ffffff;
}

#form .field:focus {
  outline: 2px solid #00a3ff;
}

/* Breakpoint: 1350px */
@media (max-width: 1350px) {
  #form {
    margin: 0 0 30px 0;
  }

  #form > .container {
    flex-direction: row;
  }
}

/* Breakpoint: 720px */
@media (max-width: 720px) {
  #form {
    margin: 0 0 30px 0;
  }

  #form > .container {
    flex-direction: column;
  }

  #form .field {
    height: 50px;
  }
}
